#main{
    background-color: blue;
    border: 1px solid;
    width: 50%;
    height: 500px;
    position: relative;
    
}

#second{

    background-color:black;
    border: 1px solid;
    width: 35%;
    height: 50%;
    bottom: 0px;
    left: 30%; 
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    position: absolute;
    
}

#triangle{
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #f0de18;
	border-bottom: 25px solid transparent;
    position: absolute;
    bottom: 100px;
    left: 65%; 

}

#third {
    background-color:hsla(0, 100%, 99%, 0.929);
    border: 1px solid;
    width: 8%;
    height:8%;
    position: absolute;
    margin-left: 50%;
    margin-top: 36%;
}

h1{
    color: rgb(255, 0, 89);

}