


.main{
  width:100%;
  margin-right: 0%;
  margin-left: 0%;
  background-color: aquamarine;
}


.menu{
  visibility: hidden;
  position: absolute;
  margin-left: 10px;

  
}
body{
  background-color: bisque;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0%;
  padding: 0%;
  
}

.head{
  font-size: 22px;
  color: blue;
  position: relative;
  left: 10px;
  margin-right: 20px;

}

.dropbtn {
    background-color:blue;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    height: 35px;
    text-align: center;
    padding:5px;
    width: 100px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 10px;
    
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      color: blue;
    
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
      color: blue;
    
    }
  
  .dropdown:hover .dropbtn {
      background-color:white;
      color: blue;
      border: 2px solid blue;
    }

    .search-container{
        /* display: flex;
        flex-direction: row; */
        /* border: 1px solid black; */
        /* height: 50px;
        background-color: #afa6d0; */
        width: 22%;
      
        
        
    }

    
      
      input[type=text] {
        font-size: 15px;
        border: none;
        height: 35px;
        width: 100%;
      
       
      }

      .formhead{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        height: 37px;
        background-color: #afa6d0;
        width: 100%;
        align-items:stretch;
        margin: auto;
        border-bottom: none;
        
      }
      
      header .search-container button {
        background: blue;
        font-size: 12px;
        border: none;
        cursor: pointer;
        height: 35px;
        box-sizing: border-box;
      }
      
      header .search-container button:hover {
        background: #ccc;}

        header{
            margin-top: 10px;
            width:100%;
            display: flex;
            height: 10vh;
            box-sizing: border-box; 
            align-items:center;
            justify-content: space-between;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            
        
            
        }

nav{
    display:flex;
    height:10vh;
    width:60%;
    margin-left: 6em;
    
    
}    

.navlist{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width:100%;
  vertical-align:middle;
  padding:8px;
  font-size: 14px;
  
}

 .navlist li:hover{
  text-decoration:underline ;
  color: blue;
  
 
}



nav > ul:nth-last-child(1) {
    background: red;
  } 
  


nav .button{
    align-self: center;
    width: 15%;
    height:5vh;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1em;
    margin-right: 1em;

    
}
.link{
    list-style: none;
    text-decoration: none;
    color: black;
}

.login{
  list-style: none;
    text-decoration: none;
    color: blue;

}

.intro{
display: flex;
margin: auto;
width: 100%;
margin-right: 0%;
justify-content:center;



}

.submitresp{
  visibility: hidden;
  position: absolute;
  right: 10px;
}
.presentation{
  width: 50%;
  padding-left: 10%;
   
  

} 

.text h1{
  display: block;
  letter-spacing: -0.2px;
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 600;
  /* max-width: 534px; */
  font-family: "Source Sans Pro", Arial, sans-serif;
  width:70%;
  
}

.text p{
display: block;
font-size: 1.5vw;
font-family:"Source Sans Pro", Arial, sans-serif ;
width: 90%;
line-height: 2vw;
letter-spacing: -0.1px;
height:10vh;


}

.buttons{
  display: flex;
  /* width: 534px;
  height: 100px; */
  
  
}

.joinBtn{
  background-color: blue;
  border: 2px solid blue;
  border-radius: 4px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
  line-height: 24px;
  max-width: 320px;
  width: 155px;
  margin-right: 10px;
  padding: 12px,32px;


}
.businessBtn{
  background-color: white;
  border: 2px solid blue;
  border-radius: 4px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: blue;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
  line-height: 24px;
  /* max-width: 320px; */
  width: 244px;
  


}



.pict{
  
  width: 50%;

  
}
.institutions{
  width: 80%;
  align-items: center;
  margin: auto;
}

.institutions ul{
  display: flex;
  justify-content: space-around;
  list-style: none
  
}

.univComps{
  background-color: rgb(245, 245, 245);
  display: block;
  height: 300px;
  width: 100%;
}

.univComps h2{
  display: block;
  font-size: 25px;
  color: black;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  margin-bottom: 48px;
  padding-top: 70px;
}
.univComps h2 a{
  color: blue;
  text-decoration: none;
}

.univComps h2 a:hover{
  text-decoration: underline;
}

.bottomSection ul{
display: flex;
justify-content: space-around;

}

.bottomtext{
  display: block;
  padding-left:80px;
  padding-top: 40px;
  font-family: "Source Sans Pro",Arial,sans-serif ;
  padding-bottom: 20px;
}
.bottomtext h2{
  font-size: 36px;
  font-weight: 400;
}
.bottomtext p{
  font-size: 20px;
  font-weight: 400;
  
}
.bottomtext h3{
  font-size: 20px;
  font-weight: 400;
  color: #382d8b;
  font-weight:600 ;
  
}

footer{
  display: flex;
  background-color:#f5f5f5;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 30px;

}
.appsigns{
 display: block;
 text-align: center;
 
  
}
.playstore{
  height: 40px;
  width: 135px;
}


ul{
  list-style: none;
  display: block;
  
}
footer a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: OpenSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
footer a:hover{
text-decoration: underline;
}
li{
  display: list-item;
  line-height: 28px;
  color: black;
}

.courserafooter{
position: relative;

  display:block;


}
.courserafooter ul{
  padding-left: 0px;
}

.community{
  position: relative;
  
    display:block;
  
  
  }
  .community ul{
    padding-left: 0px;
  }

  .morefooter{
    position: relative;
    
      display:block;
    
    
    }
    .morefooter ul{
      padding-left: 0px;
    }
    
    @media only screen and (max-width:600px) {

      *{
        margin: 0%;
        padding: 0%;
      }
     
      .menu i{
        visibility: visible;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.231);
        margin-left:10px;

      }

      .submitresp{
        visibility: visible;
        font-size: 25px;
        margin-right: 10px;
      }
     
      
      .search-container {
        visibility: hidden;
        
      }
      .dropdown {
        
        visibility: hidden;
      }
      .navlist {
        visibility: hidden;
      }

      nav button{
      
        visibility: hidden;
      }

      .head{
        
        left: 50%;
        font-size:30px;
      }

      
      .main{
        width: 100%;
        margin:0%;
        background-color: rgb(179, 151, 161);

        
      }
      body{
        background-color: #0f1057;
        margin-right: 0%;
        margin-left: 0%;
      }


      .pict img{
        visibility: hidden;
      }

      .buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .joinBtn {
      width: 80%;
      margin-bottom: 20px;
      margin: auto;

      }
      .businessBtn{
        width: 80%;
        margin-bottom: 20px;
        margin: auto;
        margin-top: 20px;
  
      }

      .institutions ul{
        display: flex;
        flex-wrap: wrap;
      }
      .bottomSection ul{
        display: flex;
        flex-wrap: wrap;

      }
      footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;

      }


      .presentation{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin: auto;
        
      }
      .pict{
        width: 0%;
      }
    

    }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
      *{
        margin: 0%;
        padding: 0%;
      }
     
      .menu i{
        visibility: visible;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.231);
        margin-left:10px;

      }

      .submitresp{
        visibility: visible;
        font-size: 25px;
        margin-right: 10px;
      }
     
      
      .search-container {
        visibility: hidden;
        
      }
      .dropdown {
        
        visibility: hidden;
      }
      .navlist {
        visibility: hidden;
      }

      nav button{
      
        visibility: hidden;
      }

      .head{
        
        left: 50%;
        font-size:30px;
      }

      
      .main{
        width: 100%;
        margin:0%;
        background-color: rgb(196, 38, 93);

        
      }
      body{
        background-color: #0f1057;
        margin-right: 0%;
        margin-left: 0%;
      }


      .pict img{
        visibility: hidden;
      }

      .text p{
        font-size:25px;
        line-height: 30px;
        padding-bottom: 20px;
      }

      .text h1{
        font-size:45px;
        line-height: 30px;
        padding: 20px;
        text-align: center;
      }

      .buttons{
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 2px solid;
      }
      .joinBtn {
      width:80%;
      margin-bottom: 20px;
      margin-top: 20px;
      align-items: center;
     

      }
      .businessBtn{
        width:80%; 
        margin-bottom: 20px;
      
        margin-top: 20px;
  
      }

      .institutions ul{
        display: flex;
        flex-wrap: wrap;
      }
      .bottomSection ul{
        display: flex;
        flex-wrap: wrap;

      }
      footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;

      }


      .presentation{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin: auto;
        
      }
      .pict{
        width: 0%;
      }
    