*{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,100,0.5)),url(btmn.jpeg);
    height:100vh;
    background-position: center;
    background-size: cover;
    

}
.nav{
    background-color: rgb(0,0,0,0.5);
    height: 80px;
}

.logo{
    margin: 10px 50px;
    height: 78%;
    margin: 0;
}

.menu{
    float: right;
    margin: 20px;
}

.menu li{
    display: inline-block;
    padding: 10px;

}
.menu li a{
    border: 1px solid;
    padding: 5px 10px;
    color: white;
}

.menu li a:hover {
    background: white;
    transition: 0.4s;
    color: brown;
}
.welcome{
    position: relative;
    top: 160px;
    text-align: center;
    font-size: 25px;

}

.welcome h1{
    margin: 25px;
}

.btn{
    font-size: 18px;
    margin: 10px;
    padding: 7px 100px;
    text-decoration: none;
    border: 1px solid white;
}












