body{
    background-image:url("btmn.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap{
    width: 80%;
  
    margin: auto;
    height:100%;
}
.posttitle{
    color: brown;
    font-family: 'Charmonman';font-size: 22px;
    font-size: 40px;
}
.thepost{
    width:50%;
    margin: auto;
    font-family: 'Lemonada';font-size: 22px;
    line-height: 1.5em;
    
}